.faq-page {
  max-width: 800px;
  width: 80%;
  margin: 0 auto;
  font-family: Arial, sans-serif;
  height: auto;
}

h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

.faq-section {
  border: 1px solid var(--table-seperator);
  margin-bottom: 20px;
  border-radius: 5px;
  cursor: pointer;
  overflow: hidden;
  padding: 2%;
  text-align: left;
  background-color: var(--primary-white);
  filter: drop-shadow(var(--primary-black) 0rem 2px rgba(0, 0, 0, 0.4));
}

.question {
  font-size: 18px;
  font-weight: bold;
  padding: 5px 15px;
  text-align: left;
  /* background-color: #f4f4f4; */
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.answer {
  font-size: 16px;
  padding: 5px 15px;
  background-color: #fff;
}

.question-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
