/* Styles for the table */
.inventory-table {
  border-collapse: collapse;
  width: 100%;
}

/* Styles for the table headers */
.table-header {
  background-color: #f2f2f2;
  font-weight: bold;
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

/* Styles for the table cells */
.table-cell {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.page-container {
  padding: 1%;
}

/* Style for the search bar */
.search-bar {
  margin-bottom: 20px;
}

.search-bar input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Styles for mobile screens */
@media (max-width: 768px) {
  .table-header,
  .table-cell {
      padding: 4px;
      font-size: 14px;
  }

  .search-bar {
      margin-bottom: 10px;
  }

  .search-bar input {
      padding: 6px;
  }
}

.button{
  display: inline-block;
  outline: 0;
  border: 0;
  cursor: pointer;
  will-change: box-shadow,transform;
  background: radial-gradient( 100% 100% at 100% 0%, #89E5FF 0%, #5468FF 100% );
  box-shadow: 0px 2px 4px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px rgb(58 65 111 / 50%);
  padding: 0 12px;
  border-radius: 6px;
  color: #fff;
  height: 36px;
  font-size: 12px;
  text-shadow: 0 1px 0 rgb(0 0 0 / 40%);
  transition: box-shadow 0.15s ease,transform 0.15s ease;
}

.button:hover {
  box-shadow: 0px 4px 8px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px #3c4fe0;
  transform: translateY(-2px);
}

.button:active{
  box-shadow: inset 0px 3px 7px #3c4fe0;
  transform: translateY(2px);
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}



